<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFileAppender"
			fileName="logs/duck_hunt.log"
			filePattern="logs/duck_hunt-%d{yyyy-MM-dd-HH-mm}.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="duck_hunt" level="INFO" />
		<Logger name="duck_hunt" level="TRACE">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="WARN">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>

</Configuration>